services:
  db:
    image: postgres:16
    container_name: postgres_example
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: order_app
    ports:
      - "5432:5432"
